.navbar--wrapper {
	width: 100%;
	position: fixed;
	top: 80px; /* Position navbar just below the header */
	left: 0;
	right: 0;
	z-index: 90; /* Lower than the header */
	background-color: #004a8f;
	color: #ffffff;
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 30px;
		.navbar--menu {
			flex: 1;
			display: flex;
			justify-content: center;
			background-color: #004a8f;
		}
		
	  }
  }
  .ant-menu-title-content{
	transition: color 0.3s;
  }
  .ant-menu-overflow-item .li:hover{
	background-color: white;
  }
  :where(.css-dev-only-do-not-override-183nhay).ant-menu-light .ant-menu-item, :where(.css-dev-only-do-not-override-183nhay).ant-menu-light>.ant-menu .ant-menu-item, :where(.css-dev-only-do-not-override-183nhay).ant-menu-light .ant-menu-submenu-title, :where(.css-dev-only-do-not-override-183nhay).ant-menu-light>.ant-menu .ant-menu-submenu-title {
    color: rgb(255 255 255 / 88%);
  }
  :where(.css-dev-only-do-not-override-183nhay).ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover, :where(.css-dev-only-do-not-override-183nhay).ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover, :where(.css-dev-only-do-not-override-183nhay).ant-menu-light .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover, :where(.css-dev-only-do-not-override-183nhay).ant-menu-light>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover {
    color: rgb(0, 185, 107);
  }

  .navbar--actions {
	display: flex;
	align-items: center;
  }
  
  .navbar--post-ad {
	display: flex;
	align-items: center;
  
	a {
	  text-decoration: none;
	}
  
	button.ant-btn-primary.post {
	  background-color: #ffffff;
	  border-color: #ffffff;
	  color: #004a8f;
	  font-weight: bold;
	  margin-right: 130px;
	}
  
	button.ant-btn-primary.post:hover {
	  background-color: rgb(0, 185, 107);
	  color: #ffffff;
		
	}
  }